@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.nvb {
  width: 99vw;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: #201b2c;
}
.nvb .navbar {
  font-family: "Poppins", sans-serif;
  position: absolute;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  width: -moz-available;
}
.nvb .navbar a {
  color: white;
  text-decoration: none;
}
.nvb .navbar .logo {
  font-size: 2em;
  font-weight: bold;
}
.nvb .navbar .nav-links ul {
  display: flex;
}
.nvb .navbar .nav-links ul li {
  margin: 0 25px;
  list-style: none;
}
.nvb .navbar .nav-links ul .active a {
  color: #ed3c57;
  font-weight: 600;
}
.nvb .navbar img {
  display: block;
}

.btn-btn-menu {
  display: none;
}
.btn-btn-menu .btn-menu {
  width: 35px;
  display: none;
}

.nav-links-two {
  font-family: "Poppins", sans-serif;
  text-align: left;
  position: absolute;
  width: 100vw;
  padding-left: 25px;
  display: none;
  margin-top: 2vh;
  height: 100vh;
}
.nav-links-two ul {
  display: flex;
  flex-direction: column;
}
.nav-links-two ul li {
  margin: 0 25px;
  list-style: none;
  padding: 0.1vh;
}
.nav-links-two ul a {
  color: white;
  text-decoration: none;
}
.nav-links-two ul .active a {
  color: #ed3c57;
  font-weight: 600;
}

@media only screen and (max-width: 1300px) {
  .nvb {
    height: 13vh;
  }
  .nav-links {
    display: none;
    text-align: center;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
  }
  .btn-btn-menu {
    display: block;
    background: none;
    border: 0;
  }
  .btn-btn-menu .btn-menu {
    display: block;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: #514869 #201b2c;
}
* ::-webkit-scrollbar {
  width: 8px;
}
* ::-webkit-scrollbar-track {
  background: #201b2c;
}
* ::-webkit-scrollbar-thumb {
  background-color: #514869;
  border-radius: 30px;
}
* ::-webkit-scrollbar-corner {
  background: #201b2c;
}

body .tabela {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: aqua;
}
body .tabela a {
  color: white;
}
body .tabela2 {
  margin-top: 5vw;
  margin-bottom: 2vw;
  border-collapse: collapse;
}
body .tabela2 table, body .tabela2 th, body .tabela2 td {
  border: 1px solid;
  padding: 25px;
  color: white;
}
body .tabela2 th {
  text-transform: uppercase;
}
body .tabela2 .invalid {
  opacity: 0.1;
  cursor: no-drop;
}
body .tabela2 .valid {
  background-color: #2f2841;
}
body .tabela2 td .checkbox {
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  body .tabela2 td img {
    width: 7vw;
  }
}
@media only screen and (max-width: 650px) {
  body .tabela2 td img {
    width: 4vw;
  }
}
@media only screen and (max-width: 900px) {
  body .tabela2 td img {
    width: 3vw;
  }
}
@media only screen and (max-width: 1000px) {
  body .tabela2 td img {
    width: 2vw;
  }
}
@media only screen and (max-width: 1500px) {
  body .tabela2 td img {
    width: 1.5vw;
  }
}

.divTabela {
  text-align: center;
  display: flex;
  justify-content: center;
}

table {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-width: 300px;
  width: 93%;
}
table thead {
  display: none;
  font-weight: 500;
  text-transform: uppercase;
}
table tbody tr {
  border: 1px solid #dad6eb;
  border-radius: 5px;
  display: block;
  padding: 30px;
  margin-bottom: 30px;
}
table tbody tr td {
  display: block;
  font-weight: 500;
  padding: 5px;
  position: relative;
  text-align: right;
}
table tbody tr td button {
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
  padding: 10px 0;
  transition: background 0.12s ease-out;
}
table tbody tr td button:hover, table tbody tr td button:focus {
  background: #5d5278;
  cursor: pointer;
}
table tbody tr td:before {
  color: #8a8a87;
  content: attr(data-label);
  font-weight: 400;
  left: 5px;
  position: absolute;
}

@media only screen and (min-width: 350px) {
  table tbody tr {
    padding-bottom: 0;
  }
  table tbody td .alterar {
    margin-top: 3vw;
  }
  table tbody td .alterar button {
    padding: 0;
  }
  table tbody td .alterar img {
    width: 5.5vw;
    margin: 20px;
    max-width: 25px;
  }
}
@media all and (min-width: 1000px) {
  table {
    border: 1px solid #201b2c;
    border-collapse: collapse;
    max-width: 1500px;
    text-align: left;
    width: 90%;
    text-align: center;
  }
  table thead {
    display: table-header-group;
    text-align: center;
  }
  table thead th {
    padding: 10px;
  }
  table tbody {
    font-size: 0.875em;
  }
  table tbody tr {
    border: none;
    display: table-row;
  }
  table tbody tr:nth-child(odd) {
    background: #2f2841;
  }
  table tbody tr td {
    display: table-cell;
    font-weight: 400;
    padding: 10px;
    text-align: center;
  }
  table tbody tr td button {
    display: inline-block;
    padding: 10px 15px;
    position: initial;
    transform: translate(0);
    width: auto;
  }
  table tbody tr td:before {
    display: none;
  }
  table tbody tr td:last-child {
    text-align: center;
  }
  table tbody tr td .alterar {
    margin: 0;
  }
  table tbody tr td .alterar button {
    padding: 10px;
  }
  table tbody tr td .alterar img {
    width: 1.5vw;
    margin: 0;
    max-width: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Noto-Sans", sans-serif;
  background: #201b2c;
  width: 99vw;
  height: 100vh;
}
body .main-login {
  width: 99vw;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}
body .main-login .left-login {
  width: 50vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .main-login .left-login h1 {
  color: white;
  font-size: 3vw;
}
body .main-login .left-login .left-login-image {
  width: 35vw;
  display: block;
}
body .main-login .right-login {
  width: 50vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-login .right-login .card-login {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337254902);
  min-width: 600px;
}
body .main-login .right-login .card-login h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}
body .main-login .right-login .card-login a {
  color: white;
  font-family: "Poppins", sans-serif;
}
body .main-login .right-login .card-login .textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
body .main-login .right-login .card-login .textfield input, body .main-login .right-login .card-login .textfield select {
  font-family: "Poppins", sans-serif;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: white;
  font-size: 12pt;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337254902);
  outline: none;
  box-sizing: border-box;
}
body .main-login .right-login .card-login .textfield select, body .main-login .right-login .card-login .textfield option {
  text-transform: capitalize;
}
body .main-login .right-login .card-login .textfield label {
  color: white;
  margin-bottom: 10px;
}
body .main-login .right-login .card-login .textfield input::-moz-placeholder {
  color: rgba(240, 255, 255, 0.5803921569);
}
body .main-login .right-login .card-login .textfield input:-ms-input-placeholder {
  color: rgba(240, 255, 255, 0.5803921569);
}
body .main-login .right-login .card-login .textfield input::placeholder {
  color: rgba(240, 255, 255, 0.5803921569);
}
body .main-login .right-login .card-login .textfield input:invalid {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
@-webkit-keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
body .main-login .right-login .card-login .checkbox {
  align-self: flex-start;
  padding-top: 10px;
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
}
body .main-login .right-login .card-login .checkbox label {
  color: white;
}
body .main-login .right-login .card-login .checkbox input {
  border-radius: 10px;
}
body .main-login .right-login .btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px rgba(0, 255, 128, 0.3215686275);
}
body .btn {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px rgba(0, 255, 128, 0.3215686275);
}
body .btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px rgba(0, 255, 128, 0.3215686275);
}
body p {
  font-family: "Poppins", sans-serif;
}
body h1 {
  font-family: "Noto-Sans", sans-serif;
  color: #00ff88;
  font-weight: 800;
}
body .h2 {
  padding-top: 2vh;
  color: white;
  padding-bottom: 1vh;
  font-family: "Poppins", sans-serif;
}
body .voltar {
  margin-left: 2.5vw;
  text-align: center;
}
body .voltar p {
  margin-top: 0;
  display: none;
}
body .voltar img {
  display: flex;
  width: 3vw;
}
body .voltar a:hover {
  filter: drop-shadow(0px 0px 10px #514869);
}
body .voltar:hover p {
  display: block;
}
body .alterar {
  display: flex;
  justify-content: center;
}
body .alterar img {
  display: block;
  width: 1.1vw;
}
body .alterar button {
  background: none;
  border: none;
  cursor: pointer;
}
body .tabelas {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  body .main-login {
    flex-direction: column;
    height: auto;
  }
  body .main-login .left-login {
    width: 100%;
    height: 35vh;
  }
  body .main-login .left-login h1 {
    display: none;
  }
  body .main-login .left-login .left-login-image {
    width: 30vw;
    padding-bottom: 5vh;
  }
  body .main-login .right-login {
    width: 100%;
    height: auto;
  }
  body .main-login .right-login .card-login {
    width: 85vw;
  }
  body .main-login .right-login .voltar {
    display: none;
  }
}
@media only screen and (max-width: 1300px) {
  body h1 {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  body .main-login {
    flex-direction: column;
  }
  body .main-login .left-login {
    width: 100%;
    height: 35vh;
  }
  body .main-login .left-login h1 {
    display: none;
  }
  body .main-login .left-login .left-login-image {
    width: 30%;
    padding-bottom: 5vh;
  }
  body .main-login .right-login {
    width: 100%;
    height: auto;
  }
  body .main-login .right-login .card-login {
    width: 85vw;
  }
}
@media only screen and (max-width: 600px) {
  body .main-login {
    flex-direction: column;
    height: auto;
  }
  body .main-login .left-login {
    width: 100%;
    height: 35vh;
  }
  body .main-login .left-login h1 {
    display: none;
  }
  body .main-login .left-login .left-login-image {
    width: 50vw;
    padding-bottom: 5vh;
  }
  body .main-login .right-login {
    width: 100%;
    height: auto;
  }
  body .main-login .right-login .card-login {
    width: 85vw;
    min-width: 250px;
  }
}
body img {
  display: none;
}
body [class^=swal2] {
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=main.css.map */